{% extends 'layout/landing.html' %}

{% load static %}


{% block body%}

<div class="container">
  <div class="page-banner home-banner">
    <div class="row align-items-center flex-wrap-reverse h-100">
      <div class="col-md-6 py-5 wow fadeInLeft">
        <h2 class="mb-4">"Unlock Your Website's Potential with AI-Powered Optimization!"</h1>
        <p class="text-lg text-grey mb-5">"Unleash the extraordinary potential of our AI-powered growth engine, driving exponential success and propelling your business to new heights."</p>
        <a href="https://chalkr.hexflow.au/auth/register" class="btn btn-primary">Lets Started </a>
      </div>
      <div class="col-md-6 py-5 wow zoomIn">
        <div class="img-fluid text-center">
          <img src="{% static 'landing/img/Image 1.png' %} " alt="">
        </div>
      </div>
    </div>
    <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
  </div>
</div>
</header>

<div class="page-section">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-service wow fadeInUp">
        <div class="header">
         
          <img src= "{%static 'landing/img/services/Blog.png' %} " alt="">
        </div>
        <div class="body">
          <h5 class="text-secondary">Blog Writing assistant </h5>
          <p>Chalkr AI-powered blog writing assistant is designed to help writers produce high-quality, well-organized blogs.</p>
          <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-service wow fadeInUp">
        <div class="header">
          <img src="{%static 'landing/img/services/Content Writeup.png' %} " alt="">
        </div>
        <div class="body">
          <h5 class="text-secondary"> Content marketing.</h5>
          <p>
            Our platform provides you with the tools to easily create engaging content for your website, blog, and social media channels.</p>
          <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-service wow fadeInUp">
        <div class="header">
          <img src="{% static 'landing/img/services/Digital Marketing.png' %} " alt="">
        </div>
        <div class="body">
          <h5 class="text-secondary">Social Media Help</h5>
          <p>Chalkr AI-Social media content creation product helps businesses to create and publish quality social media content that engages and informs their target audience.</p>
          <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- .container -->
</div> <!-- .page-section -->




<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
           
            <img src= "{%static 'landing/img/services/Accademic.png' %} " alt="">
          </div>
          <div class="body">
            <h5 class="text-secondary">Accademic assistant </h5>
            <p>Welcome to Chalkr AI, your reliable academic assistant designed to empower students like you on your educational journey. As you navigate the vast realm of academia, we understand that challenges may arise, and that's where Chalkr AI  steps in to provide comprehensive support, guidance, and inspiration. Let's embark on a journey together towards academic excellence and personal growth.</p>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
            <img src="{%static 'landing/img/services/Coding.png' %} " alt="">
          </div>
          <div class="body">
            <h5 class="text-secondary"> Coding.</h5>
            <p>
              Welcome to CHALkr AI, your comprehensive coding solution designed to empower developers and programmers of all levels. In the fast-paced world of technology, staying ahead requires not only skill but also a reliable partner to support your coding journey. CHALkr AI is here to guide you through the complexities of coding, providing solutions, resources, and personalized assistance.</p>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-service wow fadeInUp">
          <div class="header">
            <img src="{% static 'landing/img/services/Image.png' %} " alt="">
          </div>
          <div class="body">
            <h5 class="text-secondary">Chat</h5>
            <p>Chalkr AI is proud to introduce its cutting-edge technology, specially designed to revolutionize the world of chat interactions. With Chalkr AI, your chat experiences are elevated to new heights, offering unparalleled support, intelligence, and engagement. Let's explore how CHALkr AI enhances and optimizes chat interactions, making them smoother and more efficient Together</p>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
  </div> <!-- .page-section -->











<div class="page-section" id="about">
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 py-3 wow fadeInUp">
      <span class="subhead">About us</span>
      <h2 class="title-section">The number #1 SEO Service Company</h2>
      <div class="divider"></div>

      <p>Welcome to our state-of-the-art SEO content generation service! We take pride in delivering impeccably crafted content that seamlessly blends professional expertise with a natural and engaging tone. Our AI-powered platform offers a unique mix of shorter and longer sentences, ensuring your audience won't be able to differentiate between bot-generated and human-written content.

        With just a single touch, you can access high-quality SEO-optimized articles on any topic of your choice. Our AI writing tool is designed to cater to your specific needs, generating compelling content that resonates with both search engines and readers.
        
        Our team of experts has carefully trained the AI to produce seamless and smooth content, ensuring a professional tone that aligns perfectly with your brand identity. You can trust that the content generated by our AI is tailored to captivate your audience, driving organic traffic and boosting your online visibility.
        
        Experience the ease and efficiency of our AI-driven content creation today. Let us assist you in crafting captivating articles that will elevate your online presence and establish your authority in your niche. Say goodbye to time-consuming writing tasks, and embrace the power of AI to revolutionize your SEO content strategy.
        
        Unlock the potential of our content AI and embark on a journey of unparalleled SEO success. Try our service now and witness the seamless fusion of AI brilliance and human-like eloquence in every piece of content we create.</p>
      {% comment %} <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p> {% endcomment %}
      <a href="#" class="btn btn-primary mt-3">Get Started</a>
    </div>
    <div class="col-lg-6 py-3 wow fadeInRight">
      <div class="img-fluid py-3 text-center">
        <img src="{% static 'landing/img/Image 2.png' %} " alt="">
      </div>
    </div>
  </div>
</div> <!-- .container -->
</div> <!-- .page-section -->







<!-- Banner info -->
<div class="page-section banner-info">
<div class="wrap bg-image" style="background-image: url( 'landing/img/bg_pattern.svg'  );">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
        <h2 class="title-section">SEO to Improve Brand <br> Visibility</h2>
        <div class="divider"></div> 
        <p>We're an experienced and talented team of passionate consultants who breathe with search engine marketing.</p>
        
        <ul class="theme-list theme-list-light text-white">
          <li>
            <div class="h5">SEO Content Strategy</div>
            <p>"Craft a powerful SEO content strategy that resonates with your audience, leveraging data-driven insights and keyword optimization to drive organic traffic and elevate your brand's online presence."

              "Develop an effective SEO content strategy that combines compelling storytelling, relevant keywords, and user-focused content, propelling your brand to the forefront of search engine rankings and capturing the attention of your target market."</p>
          </li>
          <li>
            <div class="h5">B2B SEO</div>
            <p>"Boost your B2B brand's online presence and attract qualified leads with CHALkr AI-powered SEO, tailored to enhance your visibility and authority in the industry."

              "Leverage the cutting-edge capabilities of CHALkr AI for B2B SEO success, from targeted keyword research to personalized content strategies, driving brand visibility and customer engagement."</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 py-3 wow fadeInRight">
        <div class="img-fluid text-center">
          <img src="{% static  'landing/img/Image 3.png' %} " alt="">
        </div>
      </div>
    </div>
  </div>
</div> <!-- .wrap -->
</div> <!-- .page-section -->

<div class="page-section banner-seo-check">
  <div class="wrap bg-image" style="background-image: url('landing/img/bg_pattern.svg');">
    <div class="container text-center">
      <div class="row justify-content-center wow fadeInUp">
        <div class="col-lg-8">
          <h2 class="mb-4">Please enter your email address to join our mailing list and receive updates on our new products and services.</h2>
          <form action="#">
            <input type="text" class="form-control" placeholder="xyz@hexflow.com.au">
            <button type="submit" class="btn btn-success">Join Mailing List</button>
          </form>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .wrap -->
  </div> <!-- .page-section -->
{% endblock%}