{% extends 'layout/landing.html' %}

{% load static %}


{% block body%}

<div class="container">
  <div class="page-banner home-banner">
    <div class="row align-items-center flex-wrap-reverse h-100">
      <div class="col-md-6 py-5 wow fadeInLeft">
        <h2 class="mb-4">"Unlock Your Website's Potential with AI-Powered Optimization!"</h1>
        <p class="text-lg text-grey mb-5">"Unleash the extraordinary potential of our AI-powered growth engine, driving exponential success and propelling your business to new heights."</p>
        <a href="https://chalkr.hexflow.au/auth/register" class="btn btn-primary">Lets Started </a>
      </div>
      <div class="col-md-6 py-5 wow zoomIn">
        <div class="img-fluid text-center">
          <img src="{% static 'landing/img/Image 1.png' %} " alt="">
        </div>
      </div>
    </div>
    <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
  </div>
</div>
</header>

<div class="page-section">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-service wow fadeInUp">
        
        </div>
      </div>
    </div>
  </div> <!-- .container -->
  </div> <!-- .page-section -->











<div class="page-section" id="about">
<div class="container">
  <div class="row align-items-center">
    
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .wrap -->
  </div> <!-- .page-section -->
{% endblock%}