{% extends 'layout/dashboard.html' %}

{%  load static %}




{% block body %}


<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> billing</h4>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="bx bx-user me-1"></i> billing</a>
        </li>
        
      
      </ul>

      
      <div class="card">
        <h5 class="card-header">Billing Information</h5>
        <div class="card-body">
          <div class="mb-3 col-12 mb-0">

           <script src="https://www.paypal.com/sdk/js?client-id=AUv8rrc_P-EbP2E0mpb49BV7rFt3Usr-vdUZO8VGOnjRehGHBXkSzchr37SYF2GNdQFYSp72jh5QUhzG&vault=true&intent=subscription">
  </script>
            
           


            {% if user.profile.subscriptionType == 'free' %}
                
            
                
            <div class="alert alert-warning">
              <h6 class="alert-heading fw-bold mb-1">You are currently on the free Tier</h6>
              <p class="mb-0">You can cancell your subscription at any time, no string attached. 
                Upgrade to the starter Tier to get upto 40,000 words per month. </p>
            </div>
            <div id="paypal-button-container-1"></div>

            {% elif  user.profile.subscriptionType == 'starter'  %} 
            <div class="alert alert-info">
              <h6 class="alert-heading fw-bold mb-1">You are currently on the starter Tier</h6>
              <p class="mb-0">You can cancell your subscription at any time, no string attached. 
                Upgrade to the advanced Tier for unlimited words per month. </p>
                <p >Next Billing Date : <strong> {{nextBillingDate}} <strong></p>
                <p >Words used This Months : <strong> {{user.profile.monthlyCount }} Words <strong></p>
                  
              </div>
            <div id="paypal-button-container-1"></div>
            {% elif  user.profile.subscriptionType == 'advanced'  %} 

           
            <div class="alert alert-success">
              <h6 class="alert-heading fw-bold mb-1">You are currently on the advanced Tier</h6>
              <p class="mb-0">You can cancell your subscription at any time, no string attached. 
               You have unlimited words to use per month.</p>
               <p >Next Billing Date : <strong> {{nextBillingDate}} <strong></p>
                <p >Words used This Months : <strong> {{user.profile.monthlyCount }} Words <strong></p>

            </div>
            {% else %}
            <h1>Sorry For that </h1>
            {% endif %}
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
  
{% endblock  %}



{% block js %}

<script>
  paypal.Buttons({
    createSubscription: function(data, actions) {
      return actions.subscription.create({
        'plan_id': 'P-30222698XY168190PMP4YRJY' // Creates the starte plan subscription
      });
    },
    onApprove: function(data, actions) {
      alert('You have successfully created subscription ' + data.subscriptionID); // Optional message given to subscriber
         //tob be removed to the webhook later TODO

         $.ajax ({
          type:"POST",
          url : "{% url 'payment-success'%} ",
  
          data : {
             'subscriptionID' : data.subscriptionID,
             'type' : 'starter',
              'userId' :"{{user.profile.uniqueId|safe}}",
            'csrfmiddlewaretoken' : '{{ csrf_token }} '
            
          },
          success : function (data) {
            if (data.result == 'success'){
               windows.location.href = "{% url 'billing'%} ";

            }
            if (data.result == 'FAIL'){
               alert('Sorry Somethink is not matching with requirement');

          }
        }});
    },
    onCancel: function (data) {
      
      alert('You have successfully cancelled subscription :( '); // Optional message given to subscriber

      // Show a cancel page, or return to cart
    }
  }).render('#paypal-button-container-1'); // Renders the PayPal button
</script>

<script>
  paypal.Buttons({
    createSubscription: function(data, actions) {
      return actions.subscription.create({
        'plan_id': 'P-57804978UH107021JMP4YMTQ' // Creates the starte plan subscription
      });
    },
    onApprove: function(data, actions) {
      alert('You have successfully created subscription ' + data.subscriptionID); // Optional message given to subscriber
         //tob be removed to the webhook later TODO

         $.ajax ({
          type:"POST",
          url : "{% url 'payment-success'%} ",
  
          data : {
             'subscriptionID' : data.subscriptionID,
             'type' : 'advanced',
              'userId' :"{{user.profile.uniqueId|safe}}",
            'csrfmiddlewaretoken' : '{{ csrf_token }} '
            
          },
          success : function (data) {
            if (data.result == 'success'){
               windows.location.href = "{% url 'billing'%} ";

            }
            if (data.result == 'FAIL'){
               alert('Sorry Something is not matching with requirement');

          }
        }});
    },
    onCancel: function (data) {
      
      alert('You have successfully cancelled subscription :( '); // Optional message given to subscriber

      // Show a cancel page, or return to cart
    }
  }).render('#paypal-button-container-2'); // Renders the PayPal button
</script>
{% endblock %}
  
