
{% extends 'layout/dashboard.html' %}

{%  load static %}

{% block body %}


   <!-- Content -->

<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
      <div class="layout-demo-wrapper">

        <div class="row">
          <div class = "col-lg-1"> </div>
          <div class = "col-lg-10"> </div>
          <div class= "row">
            {% comment %} <div class = "col-lg-6"> </div>
            <img class="rounded" src="{%static 'landing/img/person/person_4.jpg' %}" alt="Create Blog">
          
        </div> {% endcomment %}
      <div class = "col-lg-6"> </div>
     
     <h2 class = "mb-3"> 🛹Enter your Blog Idea below to generate blog topic suggestions🛹 </h2>

     <form class = "" action="#" method = "post">
      {% csrf_token %}
          <div class="mb-3">
            <label for="blogIdea" class="form-label">Blog Idea </label>
            <input
              type="text"
              class="form-control"
              name="blogIdea"
              placeholder="Enter the blog idea"
              required
            />
          </div>
          <div class="mb-3">
            <label for="keywords" class="form-label">Blog Audience </label>
            <input
              type="text"
              class="form-control"
              name="audience"
              placeholder="Targeted Audience"
              required
            />
          </div>
          <div class="mb-3">
            <label for="keywords" class="form-label">Keywords </label>
            <input
              type="text"
              class="form-control"
              name="keywords"
              placeholder="Enter the blog keywords"
              required
            />
          </div>
          <div class="mb-3">
              <button class="btn btn-primary d-grid " type="submit">🙂Generate Blog Topic Ideas🙂</button>
            </div>
       <form>
            
       </div>
      </div>
      </div>
          
      <div class = "col-lg-1"> </div>
           
            </div>
          </div>
          


{% endblock  %}
    