{% extends 'layout/dashboard.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <h1>Bookmarked Hotels</h1>

{% if hotels %}
    <div class="hotel-list">
        {% for hotel in hotels %}
            <div class="hotel">
                <img src="{{ hotel.image_url }}" alt="{{ hotel.name }}" />
                <h3>{{ hotel.name }}</h3>
                <p>Star Rating: {{ hotel.star_rating }}</p>
                <p>Price from Booking.com: {{ hotel.price_booking }}</p>
                <p>Price from Agoda: {{ hotel.price_agoda }}</p>
                <a href="{{ hotel.booking_url }}" target="_blank">Direct Booking</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No hotels bookmarked yet.</p>
{% endif %}


    </div>
{% endif %}

    </div>
</div>
{% endblock %}
