
{% extends 'layout/dashboard.html' %}

{%  load static %}



{% block body %}




   <!-- Content -->

   <div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
      <div class="layout-demo-wrapper">

        <div class="row">
          <div class = "col-lg-1"> </div>
          <div class = "col-lg-10"> </div>
          <div class= "row">
            {% comment %} <div class = "col-lg-6"> </div>
            <img class="rounded" src="{%static 'landing/img/person/person_4.jpg' %}" alt="Create web">
          
        </div> {% endcomment %}
      <div class = "col-lg-6"> </div>
     
     <h2 class = "mb-3"> content generator </h2>


  <form class = "" action="#" method = "post">
    {% csrf_token %}
        
        
        <div class="mb-3">
          <textarea
              type="text"
              id="prompt"
              name="prompt"
              class="form-control"
              
              placeholder="content generator from oroginal Article  into Revised Content via example." required
               
              ></textarea>
              <label for="prompt">Select a Option:</label>
        
          <select class="form-select" aria-label="Floating label select example"id="prompt">
            <option value="Persuasive">Persuasive</option>
            <option value="More Informative">More Informative</option>
            <option value="More Descriptive">More Descriptive</option>
            <option value="More Humorous">More Humorous</option>
            <option value="Urgent">Urgent</option>
            <option value="More Emphatic">More Emphatic</option>
            <option value="More Concise">More Concise</option>
        </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-success fw-bold" type="submit">🙂response for content generator :</button>
          </div>
     <form>

      

 
{% endblock  %}