{% extends 'layout/dashboard.html' %}

{%  load static %}

{% block body %}

<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    <div class="layout-demo-wrapper">

    <div class="row">
        <div class = "col-lg-1"> </div>
        <div class = "col-lg-10"> </div>
        <div class="study-note">
            <h3>Generated Study Note</h3>
                <p>{{ study_note|safe }}</p>
        </div>
        <div class="additional-info">
            <h3>Additional Information</h3>
            <ul>
                
                    <li><strong>Note Type:</strong> {{ note_type }}</li>
                    <li><strong>Note Length:</strong> {{ note_length }} words</li>
                    <li><strong>Preferred Language Style:</strong> {{ language_style }}</li>
                    <li><strong>Key Concepts to Include:</strong> {{ key_concepts }}</li>
                    <li><strong>Additional Instructions:</strong> {{ additional_instructions }}</li>
                    <li><strong>Study Level:</strong> {{ study_level }}</li>
                    <li><strong>Citation Format:</strong> {{ citation_format }}</li>
                    <li><strong>Include Examples:</strong> {{ include_examples }}</li>
                    <li><strong>Visual Aids:</strong> {{ visual_aids }}</li>
                    <li><strong>Text Formatting:</strong> {{ text_formatting }}</li>

                    
                    <li><strong>Content Organization:</strong> {{ content_organization }}</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}






