
{% extends 'layout/dashboard.html' %}

{%  load static %}

{% block body %}
<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    <div class="layout-demo-wrapper">

    <div class="row">
        <div class = "col-lg-1"> </div>
        <div class = "col-lg-10"> </div>
<h1>Generated Animation</h1>
<video controls>
    <source src="{{ animation_url }}" type="video/mp4">
    Your browser does not support the video tag.
</video>
</div>
</div>

</div>
    
{% endblock %}