{% extends 'layout/dashboard.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <h2>Hotel Search</h2>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <div class="row">
        {% for hotel in hotels %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ hotel.image_url }}" class="card-img-top" alt="{{ hotel.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.name }}</h5>
                    <p>Rating: {{ hotel.star_rating }} ⭐</p>
                    <p>Agoda: ${{ hotel.price_agoda }}</p>
                    <p>Booking: ${{ hotel.price_booking }}</p>
                    <a href="{{ hotel.agoda_url }}" class="btn btn-primary">Book on Agoda</a>
                    <a href="{{ hotel.booking_url }}" class="btn btn-secondary">Book on Booking</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}