
{% extends 'layout/dashboard.html' %}

{%  load static %}

{% block body %}




   <!-- Content -->

   <div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
      <div class="layout-demo-wrapper">

        <div class="row">
          <div class = "col-lg-1"> </div>
          <div class = "col-lg-10"> </div>
          <div class= "row">
            {% comment %} <div class = "col-lg-6"> </div>
            <img class="rounded" src="{%static 'landing/img/person/person_4.jpg' %}" alt="Create web">
          
        </div> {% endcomment %}
      <div class = "col-lg-6"> </div>
     
     <h2 class = "mb-3">Get a feel for what ChalkrAI can do!</h2>


  <form class = "" action="#" method = "post">
    
{% csrf_token %}
        
        
<div class="mb-3">
  <label for="source_text">Get a feel for what wordtune can do!</label><br>
  <textarea
      type="text"
      id="prompt"
      name="source_text"
      class="form-control"
      
      placeholder="Whether you are reading a lengthy blog post, analyzing a report or going through a paper, ChalkrAI helps you digest what's important. Cut through the word count to find the words that count." required
       
      ></textarea>
      <label for="target_language">Paraphrase your summaries with the click of a button</label><br>


  <select   name="target_language" class="form-select" aria-label="Floating label select example"id="prompt">
    
    
    <option value="AF">summarize the text </option>
    

</select>
</div>
<div class="mb-3">
    <button class="btn btn-success fw-bold" type="submit">🙂Generate:</button>
  </div>
 
{% endblock  %}