
{% extends 'layout/dashboard.html' %}

{%  load static %}

{% block body %}




   <!-- Content -->

   <div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
      <div class="layout-demo-wrapper">

        <div class="row">
          <div class = "col-lg-1"> </div>
          <div class = "col-lg-10"> </div>
          <div class= "row">
            {% comment %} <div class = "col-lg-6"> </div>
            <img class="rounded" src="{%static 'landing/img/person/person_4.jpg' %}" alt="Create web">
          
        </div> {% endcomment %}
      <div class = "col-lg-6"> </div>
     
     <h2 class = "mb-3"> 🛹Third-person converter🛹 </h2>


     <form class = "" action="#" method = "post">
    
      {% csrf_token %}
              
              
      <div class="mb-3">
        <label for="source_text">Free First Person to Third Person Converter:</label><br>
        <textarea
            type="text"
            id="prompt"
            name="source_text"
            class="form-control"
            
            placeholder="content generator from oroginal Article  into Revised Content via example." required
             
            ></textarea>
            <label for="converted_text">Convert your article into formal 2nd & third person voice instantly:</label><br>
      
      
        <select   name="converted_text" class="form-select" aria-label="Floating label select example"id="prompt">
          
          
          <option value="ZW">2nd and third person voice</option>
          

      
      </select>
      </div>
      <div class="mb-3">
          <button class="btn btn-success fw-bold" type="submit">🙂Generate:</button>
        </div>
  
 
{% endblock  %}