
{% extends 'layout/dashboard.html' %}

{%  load static %}

{% block body %}




   <!-- Content -->

   <div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
      <div class="layout-demo-wrapper">

        <div class="row">
          <div class = "col-lg-1"> </div>
          <div class = "col-lg-10"> </div>
          <div class= "row">
            {% comment %} <div class = "col-lg-6"> </div>
            <img class="rounded" src="{%static 'landing/img/person/person_4.jpg' %}" alt="Create web">
          
        </div> {% endcomment %}
      <div class = "col-lg-6"> </div>
     
     <h2 class = "mb-3"> 🛹Enter your Programming Language  below to Convert Into your favourite Programming Languages  🛹 </h2>

     <form class = "" action="#" method = "post">
      {% csrf_token %}
          
          
          <div class="mb-3">
            <textarea
                type="text"
                class="form-control"
                name="web"
                placeholder="Hi, Do you have a moment to talk Joe?"
                required
                 
                ></textarea>
          </div>
          <div class="mb-3">
              <button class="btn btn-success fw-bold" type="submit">🙂Generated Programming Language </button>
            </div>
       <form>
            
       </div>
      </div>
      </div>
          
      <div class = "col-lg-1"> </div>
           
            </div>
          </div>
          


{% endblock  %}


